<div class="container">
  <div class="item">
    <mat-card>
      <mat-card-title>Number Only Input</mat-card-title>
      <mat-card-subtitle
        >All examples below use the Numbers Only Directive to limit input to
        numbers only</mat-card-subtitle
      >
    </mat-card>
  </div>
  <div class="item">
    <mat-card>
      <mat-card-title>Basic Inputs</mat-card-title>
      <mat-card-subtitle>Numbers Only Example</mat-card-subtitle>
      <mat-form-field>
        <mat-label>Input</mat-label>
        <input matInput numbersOnly />
      </mat-form-field>
    </mat-card>
  </div>
  <div class="item">
    <mat-card>
      <mat-card-title>Basic Inputs with Appearance Fill</mat-card-title>
      <mat-card-subtitle>Numbers Only Example</mat-card-subtitle>
      <mat-form-field appearance="fill">
        <mat-label>Input</mat-label>
        <input matInput numbersOnly />
      </mat-form-field>
    </mat-card>
  </div>
</div>
