<div class="container">
  <div class="item">
    <mat-card>
      <mat-card-title>Angular Material Module</mat-card-title>
      <p>
        Adds a module for Angular Material that is imported into the App Module
        to make maintaining Angular Material easier in Angular 9.
      </p>
      <p>
        Also uses a custom Green and Yellow theme to override the installed
        Angular Material Theme. Theme SCSS file was created using the Material
        Theme Generator: materialtheme.arcsine.dev
      </p>
    </mat-card>
  </div>
  <div class="item">
    <mat-card>
      <mat-card-title>Responsive Tables Module</mat-card-title>
      <p>
        Adds a module that allows any Material Table to be responsive by adding
        the matTableResponsive directive to the mat-table.
      </p>
      <p>
        The table its applied to must not have its own responsive SCCSS to
        function correctly.
      </p>
    </mat-card>
  </div>
  <div class="item">
    <mat-card>
      <mat-card-title
        >Numbers Only Directive for Material Inputs</mat-card-title
      >
      <p>
        Adds a directive that limits user input to Numbers Only by adding the
        numbersOnly directive to the mat-input.
      </p>
    </mat-card>
  </div>
</div>
